

  .menu-enter {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .menu-enter-active {
    max-height: 100%; /* Ajusta este valor según la altura del contenido */
  }
  
  .menu-leave {
    max-height: 100%; /* Ajusta este valor según la altura del contenido */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .menu-leave-active {
    max-height: 0;
  }